* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: #eeeeee;
    font-size: 1.8rem;
    font-family: sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 120%;
}

form {
    border-left: 2px solid black;
    padding-left: 4rem;
    border-right: 2px solid black;
    padding-right: 4rem;
}

h3 {
    font-size: 150%;
    margin: 2rem;
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 2rem;
    font-weight: bold;
    width: 100%;
    transition: 0.2s;
    font-size: 130%;
    margin-top: 1rem;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

img {
    border: 2px solid gray;
}